/* ################################################################################################################################################## */
/* ##################################################################### FONTS ###################################################################### */
/* ################################################################################################################################################## */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Import de police distante */
@font-face {
  font-family: 'Tetrominoes'; /* Import de police locale */
  src: url('../assets/fonts/tetrominoes.eot'); /* IE9+ */
  src: url('../assets/fonts/tetrominoes.woff2') format('woff2'), /* Navigateurs modernes (Chrome, Firefox, etc.) */
       url('../assets/fonts/tetrominoes.woff') format('woff'), /* Navigateurs moins modernes (Safari, IE, etc.) */
       url('../assets/fonts/tetrominoes.ttf')  format('truetype'); /* Navigateurs mobiles (Android, iOS, etc.) */
}

/* ################################################################################################################################################## */
/* #################################################################### GENERAL ##################################################################### */
/* ################################################################################################################################################## */

/* Définit les espacements et le comportement des éléments par défaut */
* {
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève les espacements par défaut */
    box-sizing: border-box; /* Définit le comportement de la propriété width (inclure le padding et la border d'un element dans sa taille totale) */
    scroll-behavior: smooth; /* Définit le comportement du scroll */
}

/* Définit la classe servant à cacher les éléments */
*.hidden{
    display: none!important; /* Force l'élément à ne pas être affiché */
}

/* Définit le fond de la page */
body {
    background: linear-gradient(90deg, #53a0fd, #01c2f3); /* Définit le dégradé de fond */
}

/* ################################################################################################################################################## */
/* ##################################################################### MENU ####################################################################### */
/* ################################################################################################################################################## */

/* Définit le style du menu du jeu */
#menu{
    position: fixed; /* Positionne l'élément par rapport à la fenêtre */
    top: 0; /* Positionne l'élément en haut de la fenêtre */
    left: 0; /* Positionne l'élément à gauche de la fenêtre */
    width: 100vw; /* Définit la largeur de l'élément (100% du viewport width) */
    height: 100vh; /* Définit la hauteur de l'élément (100% du viewport height) */
    z-index: 100; /* Définit la profondeur de l'élément */
    background-color: #9aa2a5; /* Définit la couleur de fond */
    background-image: linear-gradient(335deg, #960000 23px, rgba(0, 0, 0, 0) 23px),
                        linear-gradient(155deg, #b10000 23px, rgba(0, 0, 0, 0) 23px),
                        linear-gradient(335deg, #960000 23px, rgba(0, 0, 0, 0) 23px),
                        linear-gradient(155deg, #b10000 23px, rgba(0, 0, 0, 0) 23px); /* Définit la texture de fond (briques) */
    background-size: 58px 58px; /* Définit la taille de la texture de fond */
    background-position: 0 2px,
                            4px 35px,
                            29px 31px,
                            34px 6px; /* Définit la position de la texture de fond */
    text-shadow: -2px 0 0 #fdff2a,
                    -4px 0 0 #df4a42,
                    2px 0 0 #91fcfe,
                    4px 0 0 #4405fc; /* Définit l'ombre du texte (effet glitch) */
    user-select: none; /* Empêche la sélection de texte */
    transition: opacity 1s, transform 1s; /* Définit l'animation de transition */
    letter-spacing: 5px; /* Définit l'espacement entre les lettres */
}

/* Style du titre du menu du jeu */
#menu .title{
    margin-top: 20vh; /* Définit la marge en haut de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
}

/* Style du titre principal du menu du jeu */
#menu .title h1{
    font-family: 'Tetrominoes', cursive; /* Définit la police de l'élément */
    font-size: 5rem; /* Définit la taille de la police de l'élément */
    color: white; /* Définit la couleur de l'élément */
    animation: titleAnimation 1s infinite; /* Définit l'animation de l'élément */
}

/* Animation du titre principal du menu du jeu */
@keyframes titleAnimation {
    0%,100% {
        transform: scale(1) rotate(0deg); /* Définit la transformation de l'élément */
    }
    33% {
        transform: scale(1.05) rotate(1deg); /* Définit la transformation de l'élément */
    }
    66% {
        transform: scale(1.1) rotate(-1deg); /* Définit la transformation de l'élément */
    }
}

/* Style du titre des paramètres */
#menu #settings .title{
    font-family: 'Press Start 2P', sans-serif; /* Définit la police de l'élément */
    color: white; /* Définit la couleur de l'élément */
    margin-top: 2vh; /* Définit la marge en haut de l'élément */
    font-size: 1.5rem; /* Définit la taille de la police de l'élément */
}

/* Style du formulaire */
#menu #settings .form{
    margin-top: 5vh; /* Définit la marge en haut de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    color: white; /* Définit la couleur de l'élément */
}

/* Style des inputs du formulaire */
#menu #settings .form input{
    margin: 0 1vw; /* Définit la marge à gauche et à droite de l'élément */
    border: 1px solid white; /* Définit la bordure de l'élément */
    color: white; /* Définit la couleur de l'élément */
    background: transparent; /* Définit la couleur de fond de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    text-align: center; /* Centre le texte de l'élément */
}

/* Style des labels */
#menu #settings .form label{
    margin-top: 0.5vw; /* Définit la marge en haut de l'élément */
}

/* Style du boutons de démarrage */
#menu #settings #start{
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    margin: 5vh auto; /* Définit la marge en haut et en bas de l'élément */
    font-family: 'Press Start 2P', cursive; /* Définit la police de l'élément */
    color: white; /* Définit la couleur de l'élément */
    line-height: 40px; /* Définit la hauteur de ligne de l'élément */
    letter-spacing: 5px; /* Définit l'espacement entre les lettres de l'élément */
    font-size: 2rem; /* Définit la taille de la police de l'élément */
    text-shadow: -2px 0 0 #fdff2a,
                    -4px 0 0 #df4a42,
                    2px 0 0 #91fcfe,
                    4px 0 0 #4405fc; /* Définit l'ombre du texte (effet glitch) */
}

/* Animation du titre */
.blink {
    animation: blink 1s steps(4, start) infinite; /* Définit l'animation de l'élément */
}

/* Animation de la couleur du texte */
@keyframes blink {
    to {
        visibility: hidden; /* Définit la visibilité de l'élément */
    }
}

/* ################################################################################################################################################## */
/* ###################################################################### JEU ####################################################################### */
/* ################################################################################################################################################## */

/* Définit la taille de la page de jeu */
#game{
    height: 100vh; /* Définit la hauteur de l'élément (100% de la taille de l'écran) */
    display: flex; /* Définit le comportement de l'élément */
    flex-direction: column; /* Définit la direction de l'élément */
    justify-content: center; /* Centre l'élément verticalement */
    align-items: center; /* Centre l'élément horizontalement */
}

/* Styles de base de l'élément de jeu */
#tetris {
    display: block; /* Définit le comportement de l'élément */
    height: 80vh; /* Définit la hauteur de l'élément */
    width: 40vh; /* Définit la largeur de l'élément */
    aspect-ratio: auto 1 / 2; /* Définit le rapport du ratio de l'élément */
}

/* Styles de base de la barre latérale de l'élément de jeu */
#next{
    display: flex; /* Définit le comportement de l'élément */
    align-items: center; /* Centre l'élément verticalement */
    flex-direction: column; /* Définit la direction de l'élément */
    padding: 20px; /* Définit la marge à l'intérieur de l'élément */
}

/* Style des titres de la barre latérale de l'élément de jeu */
#next h2{
    margin-right: 10px; /* Définit la marge à droite de l'élément */
}

/* Style des titres du canva de l'élément de jeu */
#next #nextPiece{
    max-height: 160px; /* Définit la hauteur maximale de l'élément */
    max-width: 160px; /* Définit la largeur maximale de l'élément */
}

/* Styles des lignes de la barre latérale de l'élément de jeu */
.sideGame{
    width: 100%; /* Définit la largeur de l'élément */
    height: 100%; /* Définit la hauteur de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    flex-direction: column; /* Définit la direction de l'élément */
    user-select: none; /* Empêche la sélection de l'élément */
}

/* Style des boutons de jeu */
#pause, #restart{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer!important; /* Définit le curseur de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    width: 45%; /* Définit la largeur de l'élément */
}

/* Style du bouton de pause de jeu */
#pause{
    margin-right: 10px; /* Définit la marge à droite de l'élément */
}

/* ################################################################################################################################################## */
/* ################################################################### GAMEOVER ##################################################################### */
/* ################################################################################################################################################## */

/* Style du menu de fin de partie */
#gameOver{
    position: absolute; /* Définit la position de l'élément */
    top: 0; /* Positionne l'élément en haut */
    left: 0; /* Positionne l'élément à gauche */
    width: 100vw; /* Définit la largeur de l'élément */
    height: 100vh; /* Définit la hauteur de l'élément */
    background: rgba(0,0,0,0.7); /* Définit la couleur de l'élément (noire avec une opacité de 70%) */
    backdrop-filter: blur(5px); /* Définit le flou de l'élément */
    z-index: 9999; /* Définit la position de l'élément par rapport aux autres éléments */
    overflow: hidden; /* Cache les éléments dépassant de l'élément */
}

/* Style de la popup du menu de fin de partie */
#gameOver #gameOverPopup{
    position: absolute; /* Définit la position de l'élément */
    top: 50%; /* Positionne l'élément au milieu */
    left: 50%; /* Positionne l'élément au milieu */
    transform: translate(-50%, -50%); /* Définit la position de l'élément par rapport à sa position initiale */
    width: 50%; /* Définit la largeur de l'élément */
    height: 50%; /* Définit la hauteur de l'élément */
    background: rgba(0,0,0,0.95); /* Définit la couleur de l'élément (noire avec une opacité de 95%) */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    flex-direction: column; /* Définit la direction de l'élément */
    z-index: 99999; /* Définit la position de l'élément par rapport aux autres éléments */
    backdrop-filter: blur(5px); /* Définit le flou de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    border-radius: 10px; /* Définit les coins arrondis de l'élément */
}

/* Style du titre du menu de fin de partie */
#gameOver .gameOverTitle{
    color: red; /* Définit la couleur de l'élément */
    font-size: 3rem; /* Définit la taille de la police de l'élément */
    text-align: center; /* Centre le texte de l'élément */
}

/* Style de l'image du menu de fin de partie */
#gameOver svg.gameOverImage{
    position: absolute; /* Définit la position de l'élément */
    top: 1rem; /* Positionne l'élément en haut */
    left: 0; /* Positionne l'élément à gauche */
    width: 100%; /* Définit la largeur de l'élément */
    height: 40%; /* Définit la hauteur de l'élément */
}

/* Style des statistiques du menu de fin de partie */
#gameOver .gameOverStats{
    position: absolute; /* Définit la position de l'élément */
    bottom: 0; /* Positionne l'élément en bas */
    left: 0; /* Positionne l'élément à gauche */
    width: 100%; /* Définit la largeur de l'élément */
    height: 40%; /* Définit la hauteur de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    flex-direction: column; /* Définit la direction de l'élément */
}

/* Style des titres des statistiques du menu de fin de partie */
#gameOver .gameOverStats h2{
    color: white; /* Définit la couleur de l'élément */
    font-size: 1.5rem; /* Définit la taille de la police de l'élément */
    padding: 0 1rem; /* Définit la marge de l'élément */
    margin: 0; /* Définit la marge de l'élément */
}

/* Style des valeurs des statistiques du menu de fin de partie */
#gameOver .gameOverStats h2 span{
    color: red; /* Définit la couleur de l'élément */
}

/* Style du bouton de redémarrage du menu de fin de partie */
#gameOver #gameOverRestart{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer!important; /* Définit le curseur de l'élément */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    width: 15%; /* Définit la largeur de l'élément */
    margin-top: 1rem; /* Définit la marge de l'élément */
}

/* Style de la partie 1 de l'image du menu de fin de partie */
#gameOver #Calque_1{
    animation: moveHead 2s linear infinite; /* Définit l'animation de l'élément */
}

/* Animation de la partie 1 de l'image du menu de fin de partie */
@keyframes moveHead {
    0% {
        transform: translate(0, 0); /* Définit la position de l'élément */
    }
    50% {
        transform: translate(0, 10px); /* Définit la position de l'élément */
    }
    100% {
        transform: translate(0, 0); /* Définit la position de l'élément */
    }
}

/* Style de la partie 2 de l'image du menu de fin de partie */
#gameOver #Calque_2{
    animation: moveMouth 2s linear infinite; /* Définit l'animation de l'élément */
}

/* Animation de la partie 2 de l'image du menu de fin de partie */
@keyframes moveMouth {
    0% {
        transform: translate(0, 0); /* Définit la position de l'élément */
    }
    50% {
        transform: translate(0, -10px); /* Définit la position de l'élément */
    }
    100% {
        transform: translate(0, 0); /* Définit la position de l'élément */
    }
}

/* ################################################################################################################################################## */
/* #################################################################### FOOTER ###################################################################### */
/* ################################################################################################################################################## */

/* Style du footer */
#credits{
    bottom: 0; /* Positionne l'élément en bas */
    position: absolute; /* Définit la position de l'élément */
    z-index: 99999; /* Définit la position de l'élément par rapport aux autres */
    display: flex; /* Définit le comportement de l'élément */
    justify-content: center; /* Centre l'élément horizontalement */
    align-items: center; /* Centre l'élément verticalement */
    width: 100%; /* Définit la largeur de l'élément */
    background-color: rgba(0, 0, 0, 0.5); /* Définit la couleur de l'élément */
    color: white; /* Définit la couleur de l'élément */
    user-select: none; /* Empêche la sélection de l'élément */
}

/* Style du texte du footer */
#credits h2{
    margin-bottom: 0; /* Définit la marge de l'élément */
    margin-right: 1rem; /* Définit la marge de l'élément */
    font-size: 1rem; /* Définit la taille de la police de l'élément */
    max-height: 50px; /* Définit la hauteur maximale de l'élément */
}

/* Style du lien du footer */
#credits a{
    color: white; /* Définit la couleur de l'élément */
    text-decoration: underline; /* Définit le style du texte de l'élément */
    font-size: 1rem; /* Définit la taille de la police de l'élément */
}

/* Style du coeur du footer */
#credits .heart{
    color: red; /* Définit la couleur de l'élément */
    font-size: 1.75rem; /* Définit la taille de la police de l'élément */
    margin-bottom: 10px; /* Définit la marge de l'élément */
}

/* ################################################################################################################################################## */
/* ################################################################## COUNTDOWN ##################################################################### */
/* ################################################################################################################################################## */

/* Style du conteneur du compte à rebours */
#countdown {
    position: absolute; /* Définit la position de l'élément */
    top: 50%; /* Positionne l'élément au milieu */
    left: 50%; /* Positionne l'élément au milieu */
    transform: translate(-50%, -50%); /* Définit la position de l'élément */
    width: 360px; /* Définit la largeur de l'élément */
    height: 360px; /* Définit la hauteur de l'élément */
    filter: url('#filter'); /* Définit le filtre de l'élément */
    transition: 1s; /* Définit la durée de l'animation de l'élément */
}

/* Style des éléments du compte à rebours */
.c, .o, .u, .n, .t {
    width: 50px; /* Définit la largeur de l'élément */
    height: 50px; /* Définit la hauteur de l'élément */
    position: absolute; /* Définit la position de l'élément */
    top: calc(50% - 50px); /* Positionne l'élément au milieu */
    left: calc(50% - 50px); /* Positionne l'élément au milieu */
    background: #D0F0FD; /* Définit la couleur de l'élément */
    border-radius: 20px; /* Définit le style des bords de l'élément */
    content: ''; /* Définit le contenu de l'élément */
    transition: all .50s cubic-bezier(0.950, 0.010, 0.000, 1.000); /* Définit la durée de l'animation de l'élément */
}

/* Style du filtre du compte à rebours */
.countdownDefs{
    position: absolute; /* Définit la position de l'élément */
}

.c { transition-delay: 0.05s; }
.o { transition-delay: 0.1s; }
.u { transition-delay: 0.15s; }
.n { transition-delay: 0.2s; }
.t { transition-delay: 0.25s; }

.wrap-9 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}
.wrap-9 .o {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}
.wrap-9 .u {
    width: 150px;
    height: 60px;
    left: 120px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-9 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}
.wrap-9 .t {
    width: 60px;
    height: 120px;
    left: 60px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-8 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}
.wrap-8 .o {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}
.wrap-8 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-8 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}
.wrap-8 .t {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}

.wrap-7 .c {
    width: 140px;
    height: 60px;
    left: 190px;
    top: 70px;
    transform: rotate(-65deg);
}
.wrap-7 .o {
    width: 190px;
    height: 60px;
    left: 100px;
    top: 210px;
    transform: rotate(-65deg);
}
.wrap-7 .u {
    width: 0;
    height: 0;
    left: 90px;
    top: 270px;
}
.wrap-7 .n {
    width: 0;
    height: 0;
    left: 150px;
    top: 150px;
}
.wrap-7 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-6 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}
.wrap-6 .o {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-6 .u {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}
.wrap-6 .n {
    width: 60px;
    height: 120px;
    left: 240px;
    top: 180px;
    transform: rotate(180deg);
}
.wrap-6 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}

.wrap-5 .c {
    width: 210px;
    height: 60px;
    left: 60px;
    top: 30px;
    transform: rotate(180deg);
}
.wrap-5 .o {
    width: 210px;
    height: 60px;
    left: 60px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-5 .u {
    width: 60px;
    height: 120px;
    left: 240px;
    top: 180px;
    transform: rotate(180deg);
}
.wrap-5 .n {
    width: 60px;
    height: 140px;
    left: 60px;
    top: 60px;
}
.wrap-5 .t {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}

.wrap-4 .c {
    width: 60px;
    height: 303px;
    left: 210px;
    top: 30px;
    transform: rotate(180deg);
}
.wrap-4 .o {
    width: 60px;
    height: 60px;
    left: 244px;
    top: 211px;
    transform: rotate(180deg);
}
.wrap-4 .u {
    width: 60px;
    height: 81px;
    left: 60px;
    top: 180px;
    transform: rotate(180deg);
}
.wrap-4 .n {
    width: 60px;
    height: 208px;
    left: 110px;
    top: 9px;
    transform: rotate(45deg);
}
.wrap-4 .t {
    width: 210px;
    height: 60px;
    left: 57px;
    top: 210px;
}

.wrap-3 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}
.wrap-3 .o {
    width: 60px;
    height: 110px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}
.wrap-3 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-3 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}
.wrap-3 .t {
    width: 60px;
    height: 110px;
    left: 240px;
    top: 190px;
    transform: rotate(-180deg);
}

.wrap-2 .c {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}
.wrap-2 .o {
    width: 60px;
    height: 130px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}
.wrap-2 .u {
    width: 210px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-2 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 150px;
}
.wrap-2 .t {
    width: 60px;
    height: 160px;
    left: 60px;
    top: 170px;
    transform: rotate(180deg);
}

.wrap-1 .c {
    width: 160px;
    height: 60px;
    left: 101px;
    top: 57px;
    transform: rotate(-36deg);
}
.wrap-1 .o {
    width: 0;
    height: 0;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}
.wrap-1 .u {
    width: 0;
    height: 0;
    left: 90px;
    top: 270px;
}
.wrap-1 .n {
    width: 60px;
    height: 140px;
    left: 193px;
    top: 50px;
    transform: rotate(180deg);
}
.wrap-1 .t {
    width: 60px;
    height: 160px;
    left: 193px;
    top: 174px;
    transform: rotate(-180deg);
}

.wrap-0 .c {
    width: 0;
    height: 0;
    left: 90px;
    top: 150px;
    transform: rotate(180deg);
}
.wrap-0 .o {
    width: 60px;
    height: 240px;
    left: 60px;
    top: 60px;
}
.wrap-0 .u {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 270px;
    transform: rotate(180deg);
}
.wrap-0 .n {
    width: 180px;
    height: 60px;
    left: 90px;
    top: 30px;
}
.wrap-0 .t {
    width: 60px;
    height: 240px;
    left: 240px;
    top: 60px;
    transform: rotate(180deg);
}
