@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Import de police distante */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Import de police distante */
@font-face {
  font-family: 'Tetrominoes';
  src: url('../Assets/fonts/tetrominoes.eot'); /* IE9+ */
  src: url('../Assets/fonts/tetrominoes.woff2') format('woff2'), /* Navigateurs modernes (Chrome, Firefox, etc.) */
       url('../Assets/fonts/tetrominoes.woff') format('woff'), /* Navigateurs moins modernes (Safari, IE, etc.) */
       url('../Assets/fonts/tetrominoes.ttf')  format('truetype'); /* Navigateurs mobiles (Android, iOS, etc.) */
}


/* Réinitialise les styles par défaut des éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définit la taille de la page */
#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    background-image: linear-gradient(45deg, rgba(67, 67, 67, 1) 0%, rgba(0, 0, 0, 0.95) 100%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transition: 1s;
}

/* Classe servant à cacher le menu quand la partie est lancée */
#menu.hidden{
    transform: translateX(-100%);
    opacity: 0;
}

/* Style du titre principal */
#menu .title{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style du titre principal */
#menu .title h1{
    font-family: 'Tetrominoes', cursive;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: titleAnimation 1s infinite;
}

/* Animation du titre */
@keyframes titleAnimation {
    0%,100% {
        transform: scale(1) rotate(0deg);
    }
    33% {
        transform: scale(1.05) rotate(1deg);
    }
    66% {
        transform: scale(1.1) rotate(-1deg);
    }
}

/* Style du titre */
#menu #settings .title{
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    margin-top: 2vh;
    font-size: 1.5rem;
}

/* Style du formulaire */
#menu #settings .form{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Style des labels */
#menu #settings .form input{
    margin: 0 1vw;
}

/* Style du bouton de démarrage */
#menu #settings #start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
}

/* Animation du titre */
.rainbow {
    animation: colorRotate 3s ease-in-out infinite!important;
}

/* Animation de la couleur du texte */
@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

/* Définit la taille de la page */
#game{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style de base de l'élément canvas */
#tetris {
    display: block;
    margin: auto;
    border: 2px solid #fff;
}
